/* Added the Pokemon Fonts */
@font-face {
  font-family: "Pokemon Hollow";
  src: local("Pokemon Hollow"),
    url("./fonts/Pokemon\ Hollow.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Pokemon Solid";
  src: local("Pokemon Solid"),
    url("./fonts/Pokemon\ Solid.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Josh";
  src: local("Josh"),
    url("./fonts/Jost-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Josh Italic";
  src: local("Josh Italic"),
    url("./fonts/Jost-Italic-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Imported the Fonts for Use */
.pokefont-title {
  font-family: "Pokemon Solid", sans-serif;
  font-size: 70px;
  color: yellow;
  text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black,
    2px 2px 0 black;
}

.pokefont-mixes {
  font-family: "Pokemon Solid", sans-serif;
  color: rgb(133, 0, 0);
}

/* Background Making */
.background-title {
  background-image: linear-gradient(red);
  min-width: 100%;
  min-height: 110px;
}

.background-description {
  padding: 10px;
  background-image: linear-gradient(grey);
  min-width: 100%;
  font-family: "Josh Italic", sans-serif;
}

.background-mixes {
  background-image: linear-gradient(yellow);
  min-width: 100%;
  padding: 10px;
}

.background-submit {
  background-image: linear-gradient(purple);
  min-width: 100%;
  min-height: 100vh;
  color: white;
  padding-top: 10px;
  font-family: "Josh", sans-serif;
}

/* Card Making */

.pokemix-card {
  min-height: 400px;
}

.pokemix-options {
  padding-left: 5px;
  padding-top: 5px;
  font-family: "Josh", sans-serif;
}

/* Ill adjust it in the JS to react to different Types */
.types {
  border-radius: 10px;
  border-color: white;
  border-style: solid;
  border-width: 1px;
  margin-left: 2px;
  margin-top: 5px;
  text-align: center;
  background-color: white;
  color: white;
}

/* Button Styling */
.ability-button {
  margin-left: 12px;
  max-height: 35px;
}

/* Stat Bars */
.stat-container {
  width: 90%;
  height: 150px;
  background-color: black;
  margin: 10px;
}

.stat-bar1 {
  position: relative;
  top: 20px;
  left: 30px;
  width: 80%;
  height: 10px;
  background-color: white;
  margin: 10px;
}


.stat-fill-HP1 {
  background-color: blue;
  width: 99%;
  height: 10px;
}

.stat-fill-PAtk1 {
  background-color: blue;
  width: 99%;
  height: 10px;
}

.stat-fill-PDef1 {
  background-color: blue;
  width: 99%;
  height: 10px;
}

.stat-fill-SAtk1 {
  background-color: blue;
  width: 99%;
  height: 10px;
}

.stat-fill-SDef1 {
  background-color: blue;
  width: 99%;
  height: 10px;
}

.stat-fill-Speed1 {
  background-color: blue;
  width: 99%;
  height: 10px;
}

.hp-tag {
  position: absolute;
  top: 198px;
  left: 28px;
  color: white;
  font-size: 10px;
}

.atk-tag {
  position: absolute;
  top: 218px;
  left: 28px;
  color: white;
  font-size: 10px;
}

.def-tag {
  position: absolute;
  top: 238px;
  left: 28px;
  color: white;
  font-size: 10px;
}

.satk-tag {
  position: absolute;
  top: 258px;
  left: 25px;
  color: white;
  font-size: 10px;
}

.sdef-tag {
  position: absolute;
  top: 278px;
  left: 25px;
  color: white;
  font-size: 10px;
}

.speed-tag {
  position: absolute;
  top: 298px;
  left: 28px;
  color: white;
  font-size: 10px;
}

/* Random Stylings */

.vs-middle {
  margin-top: 100px;
}

.smaller-input {
  max-height: 35px;
}

.bottom-button {
  position: absolute;
  bottom: 5px;
  align-self: center;
}

.adjust-pokemix-2 {
  margin-top: 4px;
  padding-bottom: 1px;
}