/* Added the Pokemon Fonts */
@font-face {
  font-family: "Pokemon Hollow";
  src: local("Pokemon Hollow"),
    url("./fonts/Pokemon\ Hollow.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Pokemon Solid";
  src: local("Pokemon Solid"),
    url("./fonts/Pokemon\ Solid.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Josh";
  src: local("Josh"),
    url("./fonts/Jost-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Josh Italic";
  src: local("Josh Italic"),
    url("./fonts/Jost-Italic-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Imported the Fonts for Use */
.pokefont-title {
  font-family: "Pokemon Solid", sans-serif;
  font-size: 70px;
  color: yellow;
  text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black,
    2px 2px 0 black;
}

.pokefont-mixes {
  font-family: "Pokemon Solid", sans-serif;
  color: rgb(133, 0, 0);
}

/* Background Making */
.background-title {
  background-image: linear-gradient(red);
  min-width: 100%;
  min-height: 110px;
}

.background-description {
  padding: 10px;
  background-image: linear-gradient(grey);
  min-width: 100%;
  font-family: "Josh Italic", sans-serif;
}

.background-mixes {
  background-image: linear-gradient(yellow);
  min-width: 100%;
  padding: 10px;
}

.background-submit {
  background-image: linear-gradient(purple);
  min-width: 100%;
  min-height: 100vh;
  color: white;
  padding-top: 10px;
  font-family: "Josh", sans-serif;
}

/* Card Making */

.pokemix-card {
  min-height: 400px;
}

.pokemix-options {
  padding-left: 5px;
  padding-top: 5px;
  font-family: "Josh", sans-serif;
}

/* Ill adjust it in the JS to react to different Types */
.types {
  border-radius: 10px;
  border-color: Black;
  border-style: solid;
  border-width: 2px;
  margin-left: 2px;
  margin-top: 5px;
  text-align: center;
  background-color: rgb(255, 255, 255);
  color: Black;
  height: 32px;
}

/* Button Styling */
.ability-button {
  margin-left: 12px;
  max-height: 35px;
}

/* Stat Bars */
.stat-container {
  border-style: double;
  margin: 5px;
  background-color: rgb(255, 125, 125);
  margin-bottom: 50px;
}

.stat-label {
  margin-left: 5px;
  align-self: center;
  color: aliceblue;
}

.stat-bar {
  position: relative;
  display: flex;
  top: 7px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  overflow: hidden;
}

.stat-filled{
  border-radius: 10px;
  align-self: center;
  height: 10px;
  background-color: #ffffff;
}

/* For the form */
.form-formatting {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 5px;
}

.text-area-big {
  width: 100%;
}

.check-to-button {
  opacity: 0%;
}

.fake-button {
  border-radius: 10px;
  border-color: Black;
  border-style: solid;
  border-width: 2px;
  margin-left: 2px;
  margin-top: 5px;
  text-align: center;
  color: white;
  height: 32px;
  padding-left: 12px;
  padding-top: 2px;
  cursor: pointer;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  margin: 0px;
  width: 100%;
  height: 8px;
  background-color: rgb(224, 224, 214);
  border-radius: 10px;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-image: url("./images/pokeballSlider.png");
  background-position: center;
  width: 20px;
  height: 20px;
  background-size: cover;
}
/* Random Stylings */

.vs-middle {
  margin-top: 100px;
}

.smaller-input {
  max-height: 35px;
}

.bottom-button {
  position: absolute;
  bottom: 5px;
  align-self: center;
}

.adjust-pokemix-2 {
  margin-top: 4px;
  padding-bottom: 1px;
}

.clicked {
  opacity: 70%;
}